body {
    background-color:black;
    background-image:url('concert.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.chatFrame {
  width: 100%;
  height: 1000px;
}

.header {
    height: 200px;
    width: 100%;
    margin-bottom: 0px;
    background-color: black;
}

#col-style {
    border: 2px solid black;
    /* margin-top: 50px; */
    margin: 8px;
    background-color: white;
    opacity: .75;
    border-radius: 20px;
}
#formContainer {
    opacity: .75;
}
h3 {
    font-size: 18px;
    text-align: center;
}

.user-list {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.eventImage {
    height: 100px;
    width: 140px;
    border: 3px solid black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

#logo {
    height: 80px;
    width: 200px;
    margin-bottom: 65px;
}

.buttons {
    margin-left: 50px;
    margin-top: 20px;
}

#top-choice-display {
    height: 600px;
    padding-bottom: 100px;
}

label {
  color: white;
}

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
